################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Budget-Tracker/copilot-chat/3fc5b533/sessions/3fc63250-aa94-4770-818e-40e1dd9468e0
/.vs/Budget-Tracker/copilot-chat/3fc5b533/sessions/5b8b88f3-2c84-40cc-aed6-15d39ec85cd2
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/CodeChunks.db
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/SemanticSymbols.db
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/.vs/Budget-Tracker/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/Budget-Tracker/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/Budget-Tracker/FileContentIndex/51aaba5e-73ab-42f6-8365-aec7b78c7afb.vsidx
/.vs/Budget-Tracker/v17/.wsuo
/.vs/Budget-Tracker/v17/DocumentLayout.backup.json
/.vs/Budget-Tracker/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Budget-Tracker/FileContentIndex/b4df8374-9013-4cba-a898-a615c6a86012.vsidx
/.vs/Budget-Tracker/FileContentIndex/54a276da-55ed-4f1a-a14b-9fd71adb46a7.vsidx
/.vs/Budget-Tracker/FileContentIndex/c2e9058c-1e75-4088-a032-a9f0e855e61b.vsidx
/.vs/Budget-Tracker/FileContentIndex/71ad2e7f-46be-42a9-8597-7561ac763751.vsidx
